:root {
  --primary: #de4c4f;
  --secondary: #5c629e;

  --black: #000000;
  --black95: #050505;
  --black80: #999999;
  --black60: #cccccc;
  --black40: #e5e5e5;
  --black20: #f0f0f0;
  --black10: #f7f7f7;

  --text01: #4c4c4c;
  --textReverse: #fff;

  --white: #fff;

  --error: #e71d32;
  --success: #5aa700;
  --warning: #efc100;
  --information: #5aaafa;

  --nav01: #fff;
  --nav02: #575a5d;
  --nav03: #323232;
}


.layout {
  height: 100vh;
}

body {
  margin: 0;
}
